{% load static %}
<div class="container mb-2 exxen-nav containers">
  <nav class="navbar navbar-expand-lg">
    <div class="container-fluid mt-3 mb-2">
      <a class="navbar-brand" href="#"
        ><img src="{% static 'img/logo-web.svg' %}" alt=""
      /></a>
      <button
        class="navbar-toggler"
        type="button"
        data-bs-toggle="collapse"
        data-bs-target="#navbarNavDropdown"
        aria-controls="navbarNavDropdown"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
      </button>
      <div
        class="collapse navbar-collapse d-flex justify-content-end"
        id="navbarNavDropdown"
      >
        <ul class="navbar-nav">
          {% if user.is_authenticated %} 
          <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="{% url 'register' %}">
                    <button class="exxen-spor text-warning text-uppercase">{{request.user}}</button>
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="{% url 'logout' %}">
                    <button class="uye-giris bg-warning">Çıkış Yap</button>
                </a>
              </li>
          {% else %}
          <li class="nav-item">
            <a
              class="nav-link active"
              aria-current="page"
              href="{% url 'register' %}"
            >
              <button class="exxen-spor text-warning">
                EXXENSPOR Ticari Üye Ol
              </button>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'login' %}">
              <button class="uye-giris bg-warning">Üye Girişi</button>
            </a>
          </li>
          {% endif %}

          <li class="nav-item dropdown mt-2">
            <a
              class="nav-link dropdown-toggle"
              href="#"
              id="navbarDropdownMenuLink"
              role="button"
              data-bs-toggle="dropdown"
              aria-expanded="false"
            >
              <i class="fa-solid fa-globe"></i>TR
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
              <li><a class="dropdown-item" href="#">Türkçe</a></li>
              <li><a class="dropdown-item" href="#">English</a></li>
              <li><a class="dropdown-item" href="#">Espanol</a></li>
            </ul>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</div>
