{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Exxen</title>
    <!-- CSS only -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">

    <!-- FontAwesome -->
    <script src="https://kit.fontawesome.com/a317844617.js" crossorigin="anonymous"></script>

    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>

<body>
    <div class="container-fluid bg-warning p-0">
        {% include "includes/_navbar.html" %}
    </div>

    {% block content %}


    <div class="container-fluid uye-ol">
        <div class="container containers">
            <form action="">
                <div class="row kayit">
                    <div class="col">
                        <input type="text" placeholder="Ad Soyad">
                    </div>
                    <div class="col">
                        <input type="email" placeholder="E-Posta Adresi">
                    </div>
                    <div class="col">
                        <button type="button" class="bg-warning border-0">Üye Ol</button>
                    </div>
                </div>
            </form>
        </div>
    </div>


    <div class="container containers">
        <a href="">
            <img src="{% static 'img/14gun.jpg' %}" width="100%" class="mt-5" alt="">
        </a>
    </div>

    <!-- Filmler -->
    <div class="container containers">
        <div class="row row-cols-1 row-cols-md-4 g-4 mt-4">
            {% for i in filmler %}
            <div class="col">
                <div class="card">
                    <img src="{{i.resim.url}}" class="card-img-top" alt="">
                    <div class="card-body">
                        <h5 class="card-title">{{i.isim}}</h5>
                    </div>
                </div>
            </div>
            {% endfor %}


        </div>

        <!-- Ekan ve açıklamalar -->
        <div class="ekranlar text-center mt-5">
            <img src="{% static 'img/ekranlar.svg' %}" alt="">
            <p class="fs-3 text-light mt-3">
                Hemen üye ol, cepte, tablette, bilgisayarda, istediğin zaman, istediğin yerde exxen.com, Google Play,
                AppGallery,
                App Store, Apple TV ve Android TV'den izlemeye başla.
            </p>

            <div class="d-flex m-auto resimler">
                <a href="">
                    <img src="{% static 'img/app-store-2.svg' %}" alt="">
                </a>
                <a href="">
                    <img src="{% static 'img/google-play@3x.png' %}" alt="">
                </a>
                <a href="">
                    <img src="{% static 'img/huawei-app-gallery@3x.png' %}" alt="">
                </a>
            </div>

            <i class="fa-brands fa-instagram"></i>
            <i class="fa-brands fa-facebook"></i>
            <i class="fa-brands fa-twitter"></i>
            <i class="fa-brands fa-youtube"></i>
            <i class="fa-brands fa-tiktok"></i>
        </div>

        <div class="container-fluid  text-center my-5 son">
            <a href="" class="text-decoration-none fs-4 text-warning">
                Exxen Yardım Merkezi
            </a>
        </div>
    </div>
    {% endblock content %}
    <!-- JavaScript Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2"
        crossorigin="anonymous"></script>
</body>

</html>